*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
}

body{
    display:flex;
    justify-content: space-around;

}

body.night{
    background: #000;
    color: #fff;
    transition: 2s;
}

.night-mode svg{
    width: 20px;
    height: auto;
    padding: 1px;
    cursor: pointer;
}

.aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: slategray;
}

.img-container{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.img-container img{
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.presentation-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-container p{
    padding: 1em 2em;
}

.contact-container{
    padding-top: 1rem;
    text-align: center;
}

.contact-container h1{  
    padding: 1em;
}

.contact-container ul {
    list-style: none;
}

.contact-container li{
    padding: 0.5em 0;
}

.contact-container p{
    padding: 0.5em 0;
}

.contact-container svg{
    width: 30px;
    height: auto;
}

.ability-container{
    padding-top: 1rem;
    text-align: center;
}

.ability-container h1{
    padding: 1em;
}

.ability-container ul{
    list-style: none;
}

.container-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    padding-top:2em;
}

.formacion{
    margin-top: 2em;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.formacion-title{
    padding-left: 1em;
}

.formacion-list{
    text-align: center;
    padding-top: 1em;
}

.formacion-list h2{
    padding: 1em 0;
}

.formacion-list p:last-child{
    padding-bottom: 2em;
}

.experiencia {
    margin-top: 2em;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.experiencia-title{
    padding-left: 1em;
}

.experiencia-list{
    text-align: center;
    padding-top: 1em;
}

.experiencia-list h2{
    padding: 1em 0;
}

.experiencia-list p:last-child{
    padding-bottom: 2em;
}

.referencias {
    margin-top: 2em;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.referencias-title{
    padding-left: 1em;
}

.referencias-list{
    text-align: center;
    padding-top: 1em;
}

.referencias-list p{
    padding: 0.5em 0;
}

.referencias-list p:last-child{
    padding-bottom: 2em;
}

@media (max-width: 650px) {

    body{
        flex-direction: column;
    }
    
    .aside{
        width: auto;
    }

    .img-container img{
        width: 100px;
    }

    .contact-container svg{
        width: 60px;
    }

    .ability-container{
        padding-bottom: 1rem;
       
    }

    .container-data {
        
        border-bottom: 0;
        padding-bottom: 0.5em;
        padding-top: 1em;
    }

    .formacion{
        border-left: 0;
    }

    .referencias {
        border-left: 0;
    }

    .experiencia{
        border-left: 0;
    }

    }